# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

# build files
Makefile
Makefile.in
.deps/
*.[oa]
*.out

# backups/emacs files
.emacs.*
*~
.#*

# outputs
results*
RESLT/
errors*
*backup
rules
*.pdf
*.png
*.eps
*.gif
*.mesh
*dump*
*trace
octave*
*.dat
*.vtu
callgrind*

# mesh files
*.poly
*.node
*.ele
*.face
*.corner
*.neigh
*.bak
*.edge
sphere.0

# Generated headers
git_version.h
micromag.h

# Just ignore entire experiments folder, should be ok...
experiments/*
*/old_experiments*/*

# general purpose binaries
control_scripts/*/*driver
meshes/generate_tetgen_sphere_input/generate_tetgen_sphere_input

# Self test output folders
self_test/*/Validation

# self test binaries
self_test/midpoint_method/midpoint_method_test
self_test/bem_field_test/bem_field_test
self_test/bem_field_test/generate_tetgen_sphere_input
self_test/generic_poisson/generic_poisson_test
self_test/interpolation/polynomial_interpolation_test
self_test/llg_exchange/llg_exchange_test
self_test/node_global_lookups/node_lookup_test
self_test/simple_rigorous_exchange/simple_rigorous_exchange_test
self_test/sum_of_matrices/sum_of_matrices_test
self_test/vector_helpers/vector_helpers_test
self_test/micromag_energy/micromag_energy_test
self_test/mallinson_regression/mallinson_test
