# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

# build files
Makefile
Makefile.in
.deps/
*.[oa]
*.out
*_driver

# Other:
compiler_options
*/old_experiments*/*

# backups/emacs files
.emacs.*
*~
.#*

# outputs
results*
RESLT/
errors*
*backup
rules
*.pdf
*.png
*.eps
*.gif
*.mesh
*dump*
*trace
octave*
*.dat
*.vtu
callgrind*

# mesh files
*.poly
*.node
*.ele
*.face
*.corner
*.neigh
*.bak

# plot scripts
plotscript.gplot
*.gplot
*.gp

# computation scripts

# testing junk file
previous_run_passes_list

# other
experiments/implicit_llg_multigrid/runs/
